* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    background-color: #F5F7FB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blob-2 {
    position: fixed;
    bottom: 0;
    left: 0;
}

.blob-1 {
    position: fixed;
    top: 0;
    right: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

.intro--title {
    margin: 0;
    color: #293264;
    font-family: Karla, sans-serif;
    font-size: 30px;
}

.intro--about {
    color: #293264;
    margin-block: 7px 30px;
    font-family: Inter, sans-serif;
}

.intro--start {
    width: 193px;
    height: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F5F7FB;
    background: #4D5B9E;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.quiz {
    z-index: 1;
    height: 100%;
    max-width: 1000px;
    padding: 50px;
}

.question {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.5rem;
    color: #293264;
}

.line {
    border-bottom: 0.1em solid #DBDEF0;
    height: 0;
    padding-top: 2em;
}

.choices {
    list-style: none;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.choices>button {
    /* height: 20px; */
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.quiz>footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.score-text {
    font-family: 'Inter';
    color: #293264;
}

.quiz>footer>button {
    background: #4D5B9E;
    border-radius: 12px;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #F5F7FB;
    padding: 10px 20px;
}